.chart-card {
  flex: 1 1 calc(25% - 20px);
  max-width: 250px;
  border: 1px solid #ccc;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 16px;
}

.chart-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.chart-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
}

.chart-fixed {
  height: 300px;
  flex-shrink: 0;
}

.legend-text {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.legend-text .added {
  color: green;
}

.legend-text .removed {
  color: red;
}
